@import "./media", "./utils";
body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

/* Шапка */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #003eb3;
  padding: 20px;
  text-align: center;

  &__title {
    color: white;
    font-size: 20px;
    margin: 0;
    @include mobile {
      max-width: 300px;
    }
  }

  &__basket {
    position: relative;
    cursor: pointer;

    &-icon {
      width: 32px;
      aspect-ratio: 1;
    }

    &-count {
      position: absolute;
      top: -5px;
      right: -5px;
      color: white;
      font-size: 14px;
      font-weight: bold;
      width: 20px;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
}

.product {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    column-gap: 30px;
  }

  &__wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #666;
    position: relative;
    max-width: 280px;
  }

  &__image {
    max-width: 250px;
    aspect-ratio: 1;
    border-radius: 10px;
  }

  &__price {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }

  &__text {
    font-size: 16px;
    color: #666;
    margin: 5px 0 15px;
  }

  &__buttons {
    display: flex;
    column-gap: 15px;
  }

  &__button {
    width: 100%;
    background-color: #ff6700;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #e55d00;
    }

    &-heart {
      border: none;
      background-color: inherit;

      &:hover {
        opacity: 0.7;
      }
    }

    &-dislike {
      border: none;
      background-color: inherit;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__icon {
    &-like {
      width: 30px;
      aspect-ratio: 1;
    }
    &-dislike {
      width: 30px;
      aspect-ratio: 1;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-top: 2px solid #ddd;

  &__button {
    &-increment,
    &-diminution,
    &-initiall {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        border: 1px solid black;
      }
    }
  }

  &__buttons {
    @include mobile-s {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__list {
    display: flex;
    @include mobile-s {
      max-width: 320px;
    }
  }

  &__item {
    padding: 5px 10px;
    @include mobile-s {
      padding: 3px;
    }
  }
}
